In [16]:
import pandas as pd
import numpy as np

In [25]:
data=pd.read_csv("D:/Datasets/training_data.csv")

In [26]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1,0,0,0,0,5849,0.0,120,360,1,2,Y
1,LP001003,1,1,1,0,0,4583,1508.0,128,360,1,0,N
2,LP001005,1,1,0,0,1,3000,0.0,66,360,1,2,Y
3,LP001006,1,1,0,1,0,2583,2358.0,120,360,1,2,Y
4,LP001008,1,0,0,0,0,6000,0.0,141,360,1,2,Y

In [30]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from tpot import TPOTClassifier

C:\Users\mojiza\AppData\Local\Continuum\anaconda2\envs\py36\lib\site-packages\deap\tools\_hypervolume\pyhv.py:33: ImportWarning: Falling back to the python version of hypervolume module. Expect this to be very slow.
  "module. Expect this to be very slow.", ImportWarning)
C:\Users\mojiza\AppData\Local\Continuum\anaconda2\envs\py36\lib\importlib\_bootstrap.py:219: ImportWarning: can't resolve package from __spec__ or __package__, falling back on __name__ and __path__
  return f(*args, **kwds)
C:\Users\mojiza\AppData\Local\Continuum\anaconda2\envs\py36\lib\importlib\_bootstrap_external.py:426: ImportWarning: Not importing directory c:\users\mojiza\appdata\local\continuum\anaconda2\envs\py36\lib\site-packages\mpl_toolkits: missing __init__
  _warnings.warn(msg.format(portions[0]), ImportWarning)

In [31]:
y_train=data['Loan_Status']

In [33]:
X_train = data.drop(data.columns[[0,12]],axis=1,inplace=True)

In [37]:
X_train = data

In [38]:
tpot = TPOTClassifier(generations = 5, population_size = 20, verbosity =2)
tpot.fit(X_train,y_train)
tpot.export('tpot_mnist_pipeline.py')

C:\Users\mojiza\AppData\Local\Continuum\anaconda2\envs\py36\lib\importlib\_bootstrap.py:219: ImportWarning: can't resolve package from __spec__ or __package__, falling back on __name__ and __path__
  return f(*args, **kwds)

Warning: xgboost.XGBClassifier is not available and will not be used by TPOT.

Generation 1 - Current best internal CV score: 0.8095716552088842

Generation 2 - Current best internal CV score: 0.8095716552088842

Generation 3 - Current best internal CV score: 0.8095716552088842

Generation 4 - Current best internal CV score: 0.8095716552088842

Generation 5 - Current best internal CV score: 0.8095716552088842

Best pipeline: ExtraTreesClassifier(input_matrix, bootstrap=False, criterion=gini, max_features=0.8500000000000001, min_samples_leaf=18, min_samples_split=15, n_estimators=100)

True

In [39]:
from sklearn.ensemble import ExtraTreesClassifier

In [57]:
tpot_data = pd.read_csv('D:/Datasets/training_data.csv')
tpot_data.drop(tpot_data.columns[[0]],axis=1,inplace=True)
features = tpot_data.drop('Loan_Status', axis=1).values
training_features, testing_features, training_target, testing_target = \
            train_test_split(features, tpot_data['Loan_Status'].values, random_state=42)

# Score on the training set was:0.8095716552088842
exported_pipeline = ExtraTreesClassifier(bootstrap=False, criterion="gini", max_features=0.8500000000000001, min_samples_leaf=18, min_samples_split=15, n_estimators=100)

model=exported_pipeline.fit(training_features, training_target)

In [58]:
import pickle

In [59]:
list_pickle = pickle.dumps(model)

In [61]:
loaded_pickle = pickle.loads(list_pickle)

In [62]:
loaded_pickle

ExtraTreesClassifier(bootstrap=False, class_weight=None, criterion='gini',
           max_depth=None, max_features=0.8500000000000001,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=18,
           min_samples_split=15, min_weight_fraction_leaf=0.0,
           n_estimators=100, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [64]:
import dill as pickle

In [75]:
filename='model_v2.pk'

In [77]:
with open('D:/Flask_API/Models/'+filename,'wb') as file:
    pickle.dump(model,file,protocol=2)

In [68]:
with open('D:/Flask_API/Models/'+filename ,'rb') as f:
    loaded_model = pickle.load(f)

In [70]:
test_data=pd.read_csv("D:/Datasets/loan_test.csv")

In [73]:
loaded_model.predict(test_data)

array(['Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y',
       'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N',
       'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N',
       'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y'], dtype=object)

In [72]:
from flask import Flask, jsonify, request

In [74]:
test_data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,1,0,0,0,5720,0,110,360,1,2
1,1,1,1,0,0,3076,1500,126,360,1,2
2,1,1,2,0,0,5000,1800,208,360,1,2
3,1,0,0,1,0,3276,0,78,360,1,2
4,1,1,0,1,1,2165,3422,152,360,1,2